<% include partials/header %>
<h1>About LoneVid</h1>

<p>I built LoneVid because I was tired of looking at the time and realizing I had spent hours watching or listening to inflamatory clickbait videos when I could have been spending that time with people I care about, working on fun projects, or researching topics I was actually interested in. I was tired of not being able to remember seventy percent of the content I watched on a daily basis, yet still having to deal with the emotional state that all those videos left me in. I decided to build a site where I could curate only the content that added value to my life. I built LoneVid as a tool for myself to access the treasure trove of information stored in videos online without constantly getting distracted by reccomended content, clickbait titles, and targeted add campaigns. 
</p>
<% include partials/footer %>