<!DOCTYPE html>
<html>
    <head>
        <title>Lone Vid</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>


        <script
		  src="https://code.jquery.com/jquery-3.3.1.js"
		  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
		  crossorigin="anonymous"></script>
        <script src="bootstrap.js"></script>
    
    <div id="landing-header">
      <div class="landingPageElement">
        <input onchange="updateBtnHref()" onkeydown="detectEnterPressed(event)" type="text" id="searchBar" name="search"><br><br>
      </div>
      <div class="landingPageElement">
        <select onchange="updateBtnHref()" name="playlistSelection" id="playlistSelectionDropdown">
          <% playlists.forEach(function(playlistIdAndName){ %>
            <option value="<%=playlistIdAndName[0]%>"><%=playlistIdAndName[1]%></option>
          <% }) %>
        </select><br><br>
      </div>
      <div class="landingPageElement">
          <a id="dashboardBtn" href="/dashboard?playlistId=<%=playlists[0][0]%>" class="btn btn-lg btn-danger">Dashboard</a>
      </div>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <script>
      function updateBtnHref() 
      {
        var playlistSelector = document.querySelector("#playlistSelectionDropdown");
        var dashboardButton = document.querySelector("#dashboardBtn");
        var searchBar = document.querySelector("#searchBar");
        dashboardButton.href = "/dashboard?playlistId=" + playlistSelector.value + "&searchKey=" + searchBar.value;
      }

      function detectEnterPressed(event)
      {
        var searchInput = document.querySelector("#searchBar");
        var dashboardButton = document.querySelector("#dashboardBtn");
        var playlistSelector = document.querySelector("#playlistSelectionDropdown");
        if (event.keyCode == 13)
        {
          dashboardButton.href = "/dashboard?playlistId=" + playlistSelector.value + "&searchKey=" + searchBar.value;
          dashboardButton.click();
        }
      }
      </script>

<% include partials/footer %>
