<% include partials/header %>
<div class="text-center">
	<h1>Watch</h1>
</div>


<div class="text-center" id="GrowAndShrinkWithPageWidth">
	<iframe width="420" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY"
		allowfullscreen="allowfullscreen"
		mozallowfullscreen="mozallowfullscreen" 
		msallowfullscreen="msallowfullscreen" 
		oallowfullscreen="oallowfullscreen" 
		webkitallowfullscreen="webkitallowfullscreen">
	</iframe>
</div>

<div class="text-center">
	<h2 id="VideoTitle">This header is for the video title</h2>
	<p id="VideoDescription">This paragraph is for the video description</p>
</div>
<% include partials/footer %>
